<footer class="footer bg-white text-dark py-5 border-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 mb-3 mb-md-0 d-flex align-items-center">
          <a href="/" class="d-flex align-items-center">
            <img src="/static/image/bankgraphic_logo.svg" alt="Company Logo" style="height: 50px;">
          </a>
        </div>
  
        <div class="col-md-4 mb-3 mb-md-0">
          <ul class="nav justify-content-center gap-3" style="font-size: large;">
            <li class="nav-item"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>

            {% if not session.get('user_id') %}
            <!-- Show Login if NOT logged in -->
            <li class="nav-item"><a href="/login" class="nav-link p-0 text-body-secondary">Login</a></li>
            {% endif %}

            {% if session.get('user_id') %}
            <!-- Show these only if logged in -->
            <li class="nav-item"><a href="/account_index" class="nav-link p-0 text-body-secondary">Account</a></li>
            <li class="nav-item"><a href="/checking" class="nav-link p-0 text-body-secondary">Checking</a></li>
            <li class="nav-item"><a href="/checking" class="nav-link p-0 text-body-secondary">Savings</a></li>
            <li class="nav-item"><a href="/loans" class="nav-link p-0 text-body-secondary">Loans</a></li>
            {% endif %}
          </ul>
        </div>
  
        <div class="col-md-4 d-flex justify-content-center justify-content-md-end">
          <ul class="list-unstyled d-flex gap-3">
            <li><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
            <li><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
          </ul>
        </div>
      </div>
  
      <div class="row mt-4">
        <div class="col text-center small text-muted">
          © 2025 Company, Inc. All rights reserved.
        </div>
      </div>
    </div>
</footer>