<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary" style="font-size: larger; gap: 100px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="icon">
        <img src="/static/image/bankgraphic2.png" alt="bbb">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse topnav-right" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="right">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" data-toggle="dropdown">Login</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/register">Register</a>
            </div>
        </li>
        
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account_index">Account</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" data-toggle="dropdown">Checkings</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/checking">Checkings</a>
                <a class="dropdown-item" href="/checking_transactions">Transactions</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" data-toggle="dropdown">Loans</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/loans">Loans</a>
                <a class="dropdown-item" href="/cloan_payments">Payments</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" data-toggle="dropdown">Savings</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/savings">Savings</a>
                <a class="dropdown-item" href="/savings_transactions">Transactions</a>
            </div>
          </li>
      </div>
    </div>
  </nav>
