/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Footer */
.footer {
  display: flex;
  align-items: center; /* Aligns items vertically */
  justify-content: center; /* Centers everything */
  padding: 20px;
}
.money-button {
  margin: 0 5px;
  color: darkgreen;
  text-decoration: none;
  font-weight: bold;
}
.money-button:hover {
  text-decoration: underline;
  color: green;
}



