{% extends 'include/layout.html' %}
{% block content %}
<div class="results">Savings Account</div>

<table class="styled-table" border="1" cellpadding="5" cellspacing="5">
    <tr>
        <th>Account Number</th>
        <th>User ID</th>
        <th>Account Type</th>
        <th>Balance</th>
        <th>Interest Rate</th>
        <th>Date Created</th>
        <th>Actions</th> <!-- Actions column -->
    </tr>	
    {% for row in data %}
    <tr>
        {% for d in row %}
        <td>{{ d }}</td>
        {% endfor %}
        <td>
            <a href="{{ url_for('display_account_transactions', account_no=row[0]) }}" id="link">View Transactions</a>
            |
            <a href="{{ url_for('add_money', account_no=row[0]) }}" class="money-button">Deposit</a>
            |
            <a href="{{ url_for('remove_money', account_no=row[0]) }}" class="money-button">Withdrawal</a>
        </td>
    </tr>
    {% endfor %}
</table>

<div>
    <button class="button" onclick="window.location.href='/account_index'">Index</button>
</div>
{% endblock %}
